@import '/src/styles/globals/variables';
@import '/src/styles/globals/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 $space-md;
  gap: $space-xl;

  .titleFieldGroup {
    display: inline-flex;
    flex-direction: column;

    .titleLabel {
      display: inline-flex;
      flex-direction: column;
      position: relative;

      label {
        margin-bottom: $space-xl;
      }
    }

    .titleInput {
      padding: $space-md $space-lg;
      border: 1px solid $divider-color;
      border-radius: $btn-border-radius-base;
      margin-left: $space-md;
    }
  }

  .imageFieldGroup {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;

    .imageLabel {
      display: flex;
      flex-direction: column;
      position: relative;
      flex-basis: 80%;
      margin-right: $space-md;
    }

    .imageUploadButton {
      height: unset;
      display: inline-flex;
      gap: $space-sm;
      align-items: center;
      justify-content: center;
      padding: $space-sm $space-lg;
      flex-grow: 1;
      width: 96px;
      max-width: 302px;

      .imageUploadLabel {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .urgentFieldGroup {
    display: inline-flex;
    margin-left: $space-md;
    gap: $space-sm;
  }

  .submitButton {
    margin-left: $space-md;
    font-weight: $font-weight-medium;
    color: $submit-button-text-color;
    background-color: $submit-button-background-color;

    &:disabled {
      background-color: $submit-button-disabled-background-color;
      cursor: not-allowed;
      box-shadow: unset;
    }
  }

  & > div > div > .errorMessage {
    position: absolute;
    font-size: $font-size-xxs;
    font-weight: $font-weight-light;
    color: $error-color;
    top: $space-xl;
    left: $space-md;
  }

  @include lg {
    flex-basis: 50%;

    .imageFieldGroup {
      .imageLabel {
        flex-basis: 50%;
      }
    }
  }
}
