@import '/src/styles/globals/variables';
@import '/src/styles/globals/mixins';

.formGroup {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: $space-lg;
  margin-top: $space-5xl;

  .titleFieldGroup {
    display: inline-flex;
    flex-direction: column;
    font-weight: $font-weight-medium;
  }

  .imageFieldGroup {
    display: inline-flex;
    font-weight: $font-weight-medium;

    .imageLabel {
      display: inline-flex;
      flex-direction: column;
      flex-basis: 50%;
    }
  }

  .titleInput {
    padding: $space-md $space-lg;
    border: 1px solid $divider-color;
    border-radius: $btn-border-radius-base;
    margin-left: $space-md;
  }

  .urgentFieldGroup {
    display: inline-flex;
    gap: $space-sm;
    font-weight: $font-weight-medium;

    label {
      margin-left: $space-md;
    }
  }

  .imageUploadButton {
    height: 48px;
    display: flex;
    gap: $space-sm;
    align-items: center;
    justify-content: center;
    padding: $space-md $space-lg;
    margin-left: $space-md;
    flex-grow: 1;
  }

  .submitButton {
    background-color: $submit-button-background-color;
    color: $submit-button-text-color;
    place-self: flex-end;
    font-weight: $font-weight-bold;

    &:disabled {
      background-color: $submit-button-disabled-background-color;
      color: $submit-button-text-color;
      cursor: not-allowed;
      box-shadow: unset;
      border: unset;
    }
  }

  .errorMessage {
    color: $error-color;
    font-size: $font-size-xs;
    margin-bottom: $space-md;
    margin-left: $space-md;
  }

  @include lg {
    flex-basis: 40%;
  }
}
