@import '/src/styles/globals/variables';
@import '/src/styles/globals/mixins';

.button {
  padding: 0 $btn-padding-horizontal-xs;
  height: 30px;

  svg {
    stroke: $stroke-color;
  }
}

.list {
  position: absolute;
  z-index: $dropdown-z-index;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $background-color-light;
  border-radius: $dropdown-radius;
  border: 1px solid $dropdown-border-color;

  .listItem {
    color: $text-color;
    border-radius: $dropdown-radius;
    border: unset;
    padding: 0 $btn-padding-horizontal-base;
    text-align: left;

    &:hover {
      background-color: $dropdown-item-background-hover;
    }

    &:first-child {
      border-bottom: 1px solid $dropdown-border-color;
    }

    @include sm {
      padding: 0 $btn-padding-horizontal-xl;
    }
  }
}
