@import '/src/styles/globals/variables';

.button {
  border-radius: 100%;
  display: none;
  align-items: center;
  padding: 0 $btn-padding-horizontal-xs;
  height: $action-button-size;

  &:hover {
    svg {
      stroke: $delete-button-hover-stroke-color;
    }
  }

  svg {
    stroke: $delete-button-stroke-color;
  }
}
