@import '/src/styles/globals/variables';
@import 'src/styles/globals/mixins';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-lg $space-3xl;
  background-color: $background-color-grey;
  box-shadow: $navbar-bottom-shadow;

  .logo {
    display: inline-flex;
    align-items: center;
  }

  .button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
}
