@import '/src/styles/globals/variables';
@import 'src/styles/globals/mixins';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-lg $space-3xl;
  background-color: $background-color-grey;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

  .logo {
    display: inline-flex;
    align-items: center;
  }
}
