@import '/src/styles/globals/variables';

.button {
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 $btn-padding-horizontal-xs;
  height: $action-button-size;

  svg {
    stroke: $stroke-color;
  }

  &:hover {
    svg {
      fill: $favorite-button-fill-color;
      stroke: $favorite-button-fill-color;
    }
  }

  &:disabled {
    cursor: not-allowed;

    svg {
      fill: $favorite-button-disabled-color;
      stroke: $favorite-button-disabled-color;
    }
  }

  &:active {
    svg {
      stroke: $stroke-color;
    }
  }
}
