@import '/src/styles/globals/variables';

.wrapper {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: $space-md;
  padding: $space-lg 0;

  .title {
    display: inline-flex;
    gap: $space-sm;
  }

  .divider {
    width: 100%;
    border: 0.5px solid $divider-color;
  }
}
