@import '/src/styles/globals/variables';

.wrapper {
  position: absolute;
  left: 50%;
  z-index: $toast-z-index;
  top: calc($navbar-height + $space-3xl);
  transform: translateX(-50%);
  padding: $space-sm $space-xl;
  border-radius: $toast-radius;
  box-shadow: $toast-shadow;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.success {
    background-color: $success-bg;
    border: 1px solid $border-success-toast;
  }

  &.error {
    background-color: $error-bg;
    border: 1px solid $border-error-toast;
  }
}
